.wrapper {
    border-top: 1px solid rgb(227 227 227);
}

.label {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.more-btn {
    padding: 8px;
    font-size: 1.4rem;
    color: lightcoral;
    font-weight: 600;
    cursor: pointer;
}

.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    margin-top: 0;
    line-height: 1;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}
.name {
    font-size: 1.2rem;
}
