.wrapper {
    padding: 20px;
    width: 320px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 6px 16px;
}
.body {
    margin-top: 12px;
    flex: 1;
}

.nickname {
    font-size: 1.8rem;
    margin-top: 0;
    line-height: 1;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}
.name {
    font-size: 1.4rem;
}

.analytics {
    margin-top: 10px;
    font-size: 1.6rem;
}

.value ~ .value {
    margin-left: 20px;
}
